     /* ── RESET Y BASE ── */
     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: url("../assets/madera0.jpeg");
        /* fondo blanco */
        font-family: 'Courier New', Courier, monospace;
        color: #000000;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    header {
        margin-top: 2%;
        background: #fffcf4;
        position: relative;
        clip-path: polygon(
            0 0,
            24.5% 0%,            /* origen (esquina superior izquierda) */
            0 17.5%,          /* punto vertical donde empieza el doblez */
            0 100%,         /* inferior izquierda */
            100% 100%,      /* inferior derecha */
            100% 0          /* superior derecha */
        );        border-bottom: 6px double #000000;
        border-top: 1px groove #c5a765;
        border-left:1px groove #c5a765;
    box-shadow:-1px -6px 6px 10px #815e1069;
    }
   .b-servilleta{
    background-color: rgba(197, 170, 134, 0.514);
        position: relative;
        clip-path: polygon(
            0 0,
            24% 0%,            /* origen (esquina superior izquierda) */
            10% 20%,          /* punto horizontal donde empieza el doblez */
            0 24%,          /* punto vertical donde empieza el doblez */
            0 100%,         /* inferior izquierda */
            100% 100%,      /* inferior derecha */
            100% 0          /* superior derecha */
        );
         /* ★ BORDE VISIBLE en el contorno recortado (drop-shadow) */
    
   }
   .b-servilleta2{
    background-color: white;
        padding-top: 30vh;
        clip-path: polygon(
            0 0,
            25% 0%,            /* origen (esquina superior izquierda) */
            10% 35%,          /* punto horizontal donde empieza el doblez */
            0 25%,          /* punto vertical donde empieza el doblez */
            0 100%,         /* inferior izquierda */
            100% 100%,      /* inferior derecha */
            100% 0          /* superior derecha */
        );
         /* ★ BORDE VISIBLE en el contorno recortado (drop-shadow) */
    
   }
   img{
    display: flex;
    height:50vh;
     width:auto;
    margin: auto;
    background-attachment: fixed;
    border-radius: 50%;

   }
   .card-img {
    /* Estilos similares a header para borde y sombra */
    background: url("../assets/marco.jpeg"); /* fondo neutro para el borde */
     background-repeat: no-repeat;
     background-position-x: right;
     background-position-y: center;
     width: auto;
     height: 50vh;
     margin: auto;
    position: relative;
    border: 6px double black;
    border-radius: 50%;
    margin-bottom: 4vh;
  }
  