     /* ── RESET Y BASE ── */
     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: url("../assets/madera0.jpeg");
        /* fondo blanco */
        font-family: 'Courier New', Courier, monospace;
        color: #000000;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    header {
        margin-top: 2%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
          border-bottom: 6px double #000000;
        border-top: 1px groove #c5a765;
        border-left:1px groove #c5a765;
    width: 7s0vw;
    margin: auto;
    height: 90vh;
    }
   
img{
    display: flex;
    min-height: 30vw;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
}